@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");
@import "./variables";
@import "./helpers";

*,
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  scroll-behavior: smooth;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  font-family: $font-family;
}

header {
  nav {
    .nav-link {
      font-weight: bold;
    }
    .nav-brand {
      flex-grow: 1;
    }
    .nav {
      flex-grow: 1;
    }
  }
}

main {
  .banner {
    background: url("../images/banner-bg.png") no-repeat;
    height: 50vh;
    background-size: cover;
    @media screen and (min-width: 768px) {
      height: 90vh;
    }
    .banner-wrapper {
      background-color: rgba($primary, 0.5);
      height: inherit;

      .container {
        // height: 100%;
        display: flex;
        flex-direction: column;

        height: 100%;
        // text-align: center;
        // background-color: red;
        .banner-footer {
          font-weight: bold;
          font-size: 1rem;
          margin-top: 4rem;
          text-transform: lowercase;
          font-style: italic;
        }
        @media screen and (min-width: 768px) {
          justify-content: center;
          align-items: center;
          justify-content: flex-end;
          h1 {
            margin-bottom: 4rem;
          }
        }
      }
    }
    .box {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
      gap: 1rem;
      position: relative;

      p {
        font-size: 0.8rem;
        line-height: 1.4;
      }
      .box-item {
        background-color: $light;
        margin-bottom: 1rem;
        position: relative;
        cursor: pointer;
        transition: 0.5s background-color ease-in-out;

        .box-heading {
          margin: 1rem 0;
          color: $primary;
          font-weight: 600;
          font-size: 1rem;
        }
        &:hover {
          background-color: $primary;
          transition: 0.5s all ease-in-out;
          color: $light;
          .box-heading {
            color: $light;
          }
          transform: translateY(-30px);
        }
        &-wrapper {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 1rem;

          img {
            width: 100%;
            max-width: 4rem;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .global {
    background: url("/images/particules.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    .bottom-bg {
      background: url("/images/pic-1.png");
      height: 15vh;
      background-position: center;
      background-size: cover;
    }
    &-title {
      padding-top: 2rem;
      margin-bottom: 3rem;
      .line-top {
        height: 2px;
        background-color: $dark;
        width: 100%;
        max-width: 13rem;
        margin: 0 auto;
        margin-bottom: 3px;
      }
    }
    .section-flex {
      .item {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 25rem;
        margin-bottom: 2.5rem;
        img {
          width: 100%;
          max-width: 6rem;
        }
        .text_content {
          margin-left: 1rem;
          .title {
            font-weight: 600;
          }
        }
      }
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .about {
    .heading {
      text-align: center;
      padding-top: 2rem;
      margin-bottom: 2rem;
      color: $primary;
    }
    .box-wrapper {
      margin-bottom: 2rem;
      .text-content {
        p {
          margin: 0.8rem 0;
          font-size: 0.9rem;
        }
      }
      .image {
        img {
          width: 100%;
        }
      }
      @media screen and (min-width: 768px) {
        display: flex;
        // align-items: center;
        gap: 1.5rem;
        .text-content {
          width: 50%;
        }
        .image {
          width: 50%;
        }
      }
    }
  }

  .services {
    @extend .about;
  }

  .contact {
    padding: 1rem 0;
    .contact-heading {
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
    .form-control {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.7rem;
      // &:focus {
      //   border: none;
      //   outline: none;
      // }
    }
    form {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
    &-bg {
      height: 20vh;
      background-image: url("/images/pic-7.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 1rem;
    }

    &-footer {
      margin-top: 2rem;
      h1 {
        @extend .display-1;
        color: $light;
        margin-top: 1rem;
      }
      &-inner {
        display: flex;
        // background-color: red;
        // flex-direction: column;
        justify-content: center;
      }
      &-wrapper {
        h6 {
          margin: 1rem 0;
        }
        &_item {
          display: flex;
          align-items: flex-start;
          margin-bottom: 1rem;
          img {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
