@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");
@import "./variables";
@import "./helpers";

*,
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  font-family: $font-family;
}

header {
  nav {
    .nav-brand {
      flex-grow: 1;
    }
    .nav {
      flex-grow: 1;
    }
  }
}

main {
  .banner {
    background: url("../images/banner-bg.png") no-repeat;
    height: 90vh;
    .banner-wrapper {
      background-color: rgba($primary, 0.5);
      height: inherit;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        @media screen and (min-width: 768px) {
          h1 {
            margin-bottom: 4rem;
          }
        }
      }
    }
    .box {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      position: relative;

      p {
        font-size: 0.8rem;
        line-height: 1.4;
      }
      .box-item {
        background-color: $light;
        position: relative;
        cursor: pointer;
        transition: 0.5s background-color ease-in-out;

        .box-heading {
          margin: 1rem 0;
          color: $primary;
          font-weight: 600;
          font-size: 1rem;
        }
        &:hover {
          background-color: $primary;
          color: $light;
          .box-heading {
            color: $light;
          }
        }
        &-wrapper {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 1rem;

          img {
            width: 100%;
            max-width: 4rem;
            margin: 0 auto;
          }
        }
        &.active {
          background-color: $primary;
          transition: 0.5s all ease-in-out;
          color: $light;
          .box-heading {
            color: $light;
          }
          transform: translateY(-30px);
        }
      }
    }
  }
}
